.pad-button{
    width: 100px;
    height: 100px;
    background-color: #3e181b;
    border: 3px solid #db1d2d;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    border-color: grey;
    cursor:default;
}